
.form-terms {
  color: var(--color-star3);
  line-height: 1.5;
  max-width: 220px;
  font-weight: 400;
  font-size: 12px;
  text-align: center;
  margin: 0 auto;

  &__link {
  color: var(--color-star3);
  text-underline-offset: 2px;
}
}


